* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

/* hdr */
@font-face {
    font-family: 'Blanka';
    src: url('../font/Blanka-Regular.otf');
}

@font-face {
    font-family: 'sprite';
    src: url('../font/Sprite Graffiti.otf');
}

.sprite {
    font-family: sprite;
}

.Blanka {
    font-family: Blanka;
}

.text-gray {
    color: #cccccc91 !important;
}

.text-gray:hover {
    color: #f1f1f1 !important;
}

.row {
    --bs-gutter-x: 0rem !important;
}
.shaedow{
    box-shadow: 0px 0px 5px #ccccccb4;
}
.navbar-toggler{
    background-color: #d9d3d373 !important;
} 

.form-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.contactPage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 800px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    background-color: #141414;
    box-sizing: border-box;
    box-shadow: 0 16rem 30rem -8rem rgba(8, 34, 69, .2);
    color: #fff;
    gap: 30px;
    font-size: 12px;
    font-weight: 200;
}

.FieldWraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactPage h1 {
    font-weight: 400;
    font-size: 23px;
}

.contactPage span {
    color: #851f0b;
    font-style: italic;
    font-size: 1.2rem;
}

.NameInputs {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.NameInputs div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.InputTextFields {
    width: 100%;
    text-align: start;
    background-color: #2d2d2c;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    height: 40px;
    padding: 20px;
}

.subjectOptions {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    margin-bottom: 6px;
    gap: 3px;
}

.formFontStyle {
    font-size: 18px !important;
}

.textarea {
    height: 160px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
    text-align: start;
    background-color: #2d2d2c;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

.SubmitButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.submitButton {
    padding: 15px 60px;
    background-color: #00bf63;
    font-size: medium;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.bg-img {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('/img/homebio.png');
    width: 100%;
}

.p-80 {
    padding: 80px 0;
}

.fs-30 {
    font-size: 30px;
}

.email {
    padding-block: 14px;
    font-size: 16px;
    width: 500px;
    border: none;
    background-color: #fff;
    text-align: center;
}

.subscribe {
    background-color: #c19752;
    padding: 15px 50px;
    color: white;
}
.img{
    width:30%;
}
.sig-img {
    background-image: url('/img/Signature.png');
    width: 50% !important;
    background-position: center;
    background-repeat: no-repeat;
}



/* responsive */

@media (max-width: 320px) {
    .img{
        width: 70% !important;
    }

}
@media (max-width: 575.98px) {
    .email {
        padding-block: 14px;
        font-size: 16px;
        width: 295px;
        border: none;
        background-color: #fff;
        text-align: center;
    }
}

@media (max-width: 768.98px) {
    .formFontStyle {
        font-size: 14px !important;
    }
    .fs-30 {
        font-size: 18px;
    }
    .contactPage h1 {
        font-weight: 400;
        font-size: 20px;
    }
    .img{
        width: 50% !important;
    }
    .subscribe {
        background-color: #c19752;
        padding: 10px 30px;
        color: white;
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1024px) {}